<!DOCTYPE html>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <section>
                    <label class="control-label">SPARQL query</label>
                    <div ui-ace="vm.aceOptions" ng-model="vm.aceModel"></div>
                    <div ng-model="vm.mode"></div>
                </section>
                <br>
                <div class="form-group">
                    <button type="button" 
                            ng-click="vm.send()"
                            ng-disabled="vm.aceModel.length===0 || vm.runningQuery"
                            class="btn btn-info">
                        Send
                    </button>
                    <button type="button" 
                            ng-click="vm.clear()"
                            ng-disabled="vm.runningQuery"
                            class="btn btn-default">
                        Clear
                    </button>
                </div>
                <div class="alert alert-info" 
                     ng-show="vm.runningQuery"
                     role="alert">
                    Processing query .. 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <label class="control-label">Options</label>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mode: </label>
                        <div class="col-sm-10">
                            <select class="form-control" 
                                    ng-model="vm.mode" 
                                    ng-options="m for m in vm.modes" 
                                    ng-change="vm.modeChanged(vm.mode)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Theme: </label>
                        <div class="col-sm-10">
                            <select class="form-control" 
                                    ng-model="vm.theme" 
                                    ng-options="t for t in vm.themes" 
                                    ng-change="vm.themeChanged(vm.theme)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">API: </label>
                        <div class="col-sm-10">
                            <ui-select ng-model="vm.selectedApi" theme="bootstrap">
                                <ui-select-match placeholder="Select a remote SPARQL API">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="api in vm.apis | filter: $select.name">
                                    <span ng-bind-html="api.name | highlight: $select.search"></span><br>
                                    <small ng-bind-html="api.email | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>