<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">       
        <div class="panel panel-default">
            <div class="panel-heading">Import data sources</div>
            <div class="panel-body">

                <input type="file" nv-file-select uploader="vm.uploader"/><br/>
                Length: {{vm.uploader.queue.length}}
                <div class="container">
                    <table class="table table-condensed" ng-show="vm.uploader.queue.length > 0">
                        <thead>
                            <tr>
                                <th>File name</th>
                                <th>Size</th>
                                <th>Progress</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fileObj in vm.uploader.queue">
                                <th>
                                    <span ng-bind="fileObj.file.name"></span>
                                </th>
                                <th>
                                {{ fileObj.file.size/1024/1024|number:2 }} MB
                                </th>
                                <th>
                                    <uib-progressbar 
                                        class="progress-striped active" 
                                        value="fileObj.progress" type="{{fileObj.progress<100 ? 'info' : 'success'}}">
                                        {{fileObj.progress}}
                                    </uib-progressbar>
                                </th>
                                <th>
                                    <button class="btn btn-info btn-xs" ng-click="vm.uploadFile(fileObj)">
                                        <span class="fa fa-upload"></span>&nbsp;Upload
                                    </button>
                                    <button class="btn btn-danger btn-xs" ng-click="vm.removeFile(fileObj)">
                                        <span class="fa fa-times"></span>&nbsp;Remove
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-warning" 
                        ng-disabled="vm.uploader.queue.length === 0" 
                        ng-click="vm.clearUploadQueue()">
                    <span class="fa fa-trash-o"></span>&nbsp;Clear queue
                </button>
                <button type="button" class="btn" 
                        ng-class="{'btn-default': vm.uploader.queue.length === 0, 'btn-success': vm.uploader.queue.length > 0}"
                        ng-disabled="vm.uploader.queue.length === 0"
                        ng-click="vm.uploadQueue()">
                    <span class="fa fa-upload"></span>&nbsp;Upload all
                </button>
            </div>
        </div>
    </div>
</div>
